:root {
  --primary-color: #00a5ba;
  --secondary-color: #b49714;
  --dark-color: #140e16;
  --light-color: #bbbcbe;
}

body {
  font-color: var(--dark-color);
}

nav {
  background-color: var(--dark-color);
  font-color: var(--light-color);
}

.nav-item {
  font-color: var(--light-color);
}

footer {
  background-color: var(--dark-color);
  padding-right: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-color);
}

main > .container {
  padding: 60px 15px 0;
  margin-bottom: 5rem;
}
.sticky-footer {
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
}

footer .social > a {
  color: var(--primary-color);
  opacity: 0.75;
}

footer .social > a:hover {
  opacity: 0.9;
  color: #b49714;
}

.checklist > li i {
  color: #b49714;
}

code[class*="language-"],
pre[class*="language-"] {
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}
